<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="/styles/style.css" type="text/css" rel="stylesheet"/>
	<link rel="icon" href="/images/favicon.ico"/>
  <title>Challenge 1 - Blog</title>
</head>
<body>
	<header id="header">
		<div><a href="/">Home</a></div>
		<div><a class="toggle open" href="#menu">Menu</a></div>
		<div><a href="/user/register">Register</a></div>		
		<div>Logout</div>
	</header>
	<nav class="aside-menu" id="menu">
		<a class="toggle close" href="#">×</a>
		<ul>
			<li>Create Article</li>
			<li>Other Users</li>
			<li>Have lunch</li>
			<li>Your comments</li>
			<li>Favourites</li>
		</ul>
	</nav>
	<article class="main-content" id="content">
    {{{ body }}}
  </article>
	<footer  id="footer"></footer>
</body>
</html>