<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="/styles/style.css" type="text/css" rel="stylesheet"/>
  <title>Document</title>
</head>
<body>
  <main class="main">
    <nav class="sitenav">
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/user/register">Register</a></li>        
        <li><a href="/article/list">All Articles</a></li>
      </ul>
    </nav>
    {{{body}}}
  </main>
</body>
</html>