<div class="user-profile-edit">
  <h1 id="edit-profile-label"> Edit profile </h1>
  <form id="user-profile-form" action="/user/edit-profile/{{currentUser._id}}" method="post" enctype="multipart/form-data">
    <label for="first-name"> First name:
      <input class="field" type="text" name="firstName" value="{{user.firstName}}"  required oninvalid="fieldValid(this)"><br>  
    </label><br>
    <label for="last-name"> Last name:
      <input class="field" type="text" name="lastName" value="{{user.lastName}}"  required oninvalid="fieldValid(this)"><br>
    </label><br>
    <p id="user-biography-label">Your biography:</p> 
    <textarea class="user-text-input edit-bio"
              name="bio" id="user-biography-text"
              maxlength="1000"
              placeholder="Something you'd find appropriate to say on a first meeting."
              required oninvalid="fieldValid(this)">{{#if user.bio}}{{user.bio}}{{/if}}</textarea><br>
    <label for="avatar"> Image URL
      <input type="text" name="avatar" id="avatar">
    </label>
    <input type="submit" value="Edit Profile"></input>
  </form>
</div>