<form class="form" action="/user/login" method="POST">
  <label for="username"> Username:<br>
    <input class="field" type="text" name="username">
  </label>
  <label for="password"> Password:<br>
    <input class="field" type="password" name="password">
  </label>
  <input type="submit" value="Login">
</form>