<form class="form" action="/user/register" method="post">
  <label for="username"> Choose your Username:<br>
    <input class="field" type="text" name="username">
  </label>
  <label for="password"> Type in a your password:<br>
    <input class="field" type="password" name="password">
  </label>
  <label for="confirm-password">Can you do that again? (...for fun):<br>
    <input class="field" type="password" name="confirm">
  </label>
  <label for="first-name"> First name:<br>
    <input class="field" type="text" name="lastname">  
  </label>
  <label for="first-name"> Last name:<br>
    <input class="field" type="text" name="firstname">
  </label>
  <input type="submit" value="Register">
</form>