<div>
  <h1>Delete?</h1>
  <form action="/article/delete/{{this._id}}" method="post">
    <input type="submit" value="Yes">
  </form>
  <form action="/article/details/{{this._id}}" method="get">
    <input type="submit" value="No">
  </form>
</div>