<div class="details-wrapper">
  <div class="details-article-title">{{this.title}}</div>
  <p class="details-article-author">By: <a href="/user/profile/{{this.authorId}}">{{this.authorName}}</a></p>
  <div class="details-article-body">{{this.bodyText}}</div>
</div>