<div class="article-div">
  <form action="/article/edit/{{this._id}}" method="post">
    <div><span class="article-property">Title:</span>
      <input type="text" name="title" id="article-title" value="{{this.title}}" required>
    </div>
    <span class="article-property">A really cool post:</span>
    <textarea  maxlength="6000" name="bodyText" id="article-body" cols="50" rows="40" required>{{this.bodyText}}</textarea>
    <input id="publish-article" type="submit" value="Publish Masterpiece">
  </form>
</div>