<div class="navcoint">
  <h1 class="page-title">Softuni Challenge</h1>
  <h1 class="page-title">A Blog</h1>
</div>
<div class="person">
  <div class="person-profile">
    <h1 class="profile-name"> Persons Posts: </h1>
    <div class="profile-picture"> Persons Picture</div>
  </div>
  <div class="person-content">
    <div class="wrapper">
      <div class="content">
        <h2 href="#" class="title"><a class="title-link" href="#">New Title</a></h2>
        <p class="author">By <a class="profile" href="#">Name</a></p>
        <p>Today is a good day because...<a href="#">Continue reading&#8230;</a></p>
      </div>
    </div>

    <div class="wrapper">
      <div class="content">
        <h2 href="#" class="title"><a class="title-link" href="#">New Title</a></h2>
        <p class="author">By <a class="profile" href="#">Name</a></p>
        <p>Today is a good day because...<a href="#">Continue reading&#8230;</a></p>
      </div>
    </div>

    <div class="wrapper">
      <div class="content">
        <h2 href="#" class="title"><a class="title-link" href="#">New Title</a></h2>
        <p class="author">By <a class="profile" href="#">Name</a></p>
        <p>Today is a good day because...<a href="#">Continue reading&#8230;</a></p>
      </div>
    </div>

    <div class="wrapper">
      <div class="content">
        <h2 href="#" class="title"><a class="title-link" href="#">New Title</a></h2>
        <p class="author">By <a class="profile" href="#">Name</a></p>
        <p>Today is a good day because...<a href="#">Continue reading&#8230;</a></p>
      </div>
    </div>
  </div>
</div>
