  {{#each users}}
    <div class="user-content">
      <div class="user-profile"><a href="user/profile/{{this._id}}">{{this.username}}</a></div>
      <div class="user-posts">Posts of {{this.firstName}} {{this.lastName}}</div>
    </div>
  {{/each}} 