<div class="user-content">
  <div class="user-profile">Profile</div>
  <div class="user-posts">Posts</div>
</div>
<div class="user-content">
  <div class="user-profile">Profile</div>
  <div class="user-posts">Posts</div>
</div>
<div class="user-content">
  <div class="user-profile">Profile</div>
  <div class="user-posts">Posts</div>
</div>