<h1>Softuni Challenge 1 - A Blog</h1>
<div class="content">
  <h2 href="#" class="title">New Title</h2>
  <p class="author">By <a class="profile" href="#">Name</a></p>
  <p>Today is a good day because...<a href="#">Continue reading&#8230;</a></p>
</div>