@import url('https://fonts.googleapis.com/css?family=Bungee');

/*
======================
RESET
======================
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,	
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, nav, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, nav, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
==========================
BEGIN
==========================
*/

/*
Pallette
	color: #0a2138; - Pullover
	color: #333a42; - Pants
	color: #4d6839; - Socks (should be this color)	
	background: #125e14; - T-shirt
	color: #bcae29; - War is not the answer
	color: #F7B733; - Sunshine

*/

html, body {
	height: 100vh;
	width: 100vw;
	font-size: 100%;
	box-sizing: border-box;
	color: rgb(243, 57, 32);
}



/*
==========================
GRID -> Site Structure
==========================
*/

/* MAX RESOLUTION */

body {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 80px auto 80px;
	grid-template-areas: "head head"
												"content content"
												"footer footer";
	text-align: center;
}

/* TO-DO MOBILE RESOLUTION */


/*
==========================
HEADER -> Site Nav
==========================
*/

/* User notification message */
.notif {
	margin-top: 15px;
	text-align: center;
}

body {
	font-family: Bungee;
	font-size: 28px;
}

header {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: head;
	padding: 15px 30px;
	color: #ff3b3f;
	background: #233237;
}

#home-link {
	color: #f33920;
}

#home-link:hover {
	color: #F7B733;
}

header a {
	text-decoration: none;
	color: #bcae29;
}

header a:hover {
	color: #F7B733;
}


header > div {
	margin-right: 15px;
}

header > div:hover {
	font-size: 110%;
	color: #F7B733;
}

header > div:nth-child(3) {
	margin-left: auto;
}


/*
==========================
Nav -> User Menu
==========================
*/

#menu-label {
	color: #F7B733;
	margin-top: 20px;
	text-align: center;
	justify-self: center;
	align-self: center;
}

nav {
	grid-area: menu;
	overflow: auto;
	transition: all 1s;
	background: #1d2731;
}

nav > ul {
	display: grid;
	justify-content: center;
	grid-gap: 20px;
	margin-top: 20px;
	color: #88d317;
	letter-spacing: .8px;
	font-size: 20px;
}
nav ul li:first-of-type {
	margin-top: 35px;
}
nav ul li::first-letter {
	font-size: 24px;
	color: #273e63;
}

nav > ul > li:hover {
	color: #F7B733;
}

.toggle {
	text-decoration: none;
	color: #bcae29;
	/* remove dotted line around active link */
	outline: 0;
}

.toggle:hover {
	color: #F7B733;
}


#menu {
	transition: transform .3s ease-in-out;
	top: 0;
	bottom: 0;
	min-height: 100vh;
	position: fixed;
	width: 300px;
	left: -340px;
}

#menu:target {
	transform: translateX(340px);
}


/* the X icon */
.close {
	text-align: right;
	display: block;
	text-decoration: none;
	position: relative;
	top: 15px;
	right: 15px;
}



/*
==========================
ARTICLE -> Article Content (surrounds {{{BODY}}})
==========================
*/

article {
	grid-area: content;
	background: #efefef;
}

/*
==========================	
FOOTER -> Site Footer
==========================
*/

footer {
	grid-area: footer;
	grid-column: span 12;
	background: #a9a9a9;
}

/* 
=========================
FORM REGISTRATION
=========================
 */

.form {
	font-size: 80%;
	margin: 30px auto;
	width: 60vw;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	align-content: center;
	grid-gap: 30px;
	border-radius: 5px;
}
.form label {
	text-align: center;
}
input[type=text], input[type=password] {
	font-size: .9 em;
	font-family: Bungee;
	width: 60%;
	padding: 10px 12px;
	border: 5px solid #bebebe;
	border-radius: 6px;
	background: #fff;
	transition: .5s;
}

input[class=field]:focus {
	border: 5px solid #fff;
}


input[type=submit] {
	font-family: Bungee;
	font-size: 1.1em;
	padding: 5px;
	width: 50%;
	height: 150%;
	justify-self: center;
	border: 5px solid #bebebe;
	background: #F7B733;
	border-radius: 5px;
	transition: all 1s;
}

input[type=submit]:hover {
	color: #161c13;
	background: rgb(255, 137, 40);
}

/*
========================
Main User Proifle Layout
========================
*/

/* HOME PAGE LAYOUT */

.user-content {
	color: #F7B733;
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(9, 1fr);
	grid-template-areas: "u u u p p p p p p";
	grid-template-rows: 250px;
	border-radius: 5px;
}

.user-profile {
	grid-area: u;
}

.user-profile-picture {
	display: block;
	align-self: center;
	margin: 5px auto;
	height: 80%;
}

.profile-picture {
	height: 100%;
}

.user-profile-username {
	text-align: center;
}

.user-posts {
	grid-area: p;
	height: 90%;
	width: 100%;
	border: 6px solid #fff;
}

.user-content a {
	outline: none;
	text-decoration: none;
	color: #F7B733;
}

.user-content a:hover {
	color: #88d317;
}


/* PROFILE PAGE LAYOUT */

.main-user-profile {
	color: #233237;
	text-align: center;
	width: 70%;
	/* border: 5px solid red; */
	margin: 30px auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: "pic pic"
											"descr descr"
											"descr descr";
	grid-auto-rows: 80px;
	grid-gap: 15px;
}

#profile-pic {
	grid-area: pic;
	width: 180px;
	height:180px;
	justify-self: center;
	/* border: 5px solid green; */
}

#profile-pic-image {
	width: 100%;
	height: 100%;
}

#profile-descr {
	grid-area: descr
}
#profile-descr > p {
	margin: 10px;
	/* border-bottom: 3px solid #273e63; */
}

#profile-bio {
	font-size: 90%;
	word-spacing: 2px;
	letter-spacing: 1px;
	border: 10px double #f33920;
}
.profile-label {
	color: #88d317;
}

#profile-articles-link {
	outline: none;
	text-decoration: none;
	color: #233237;
}

#profile-articles-link:hover {
	text-decoration: underline;
	color: #f33920;
}




/*
---------------------------
Media query for grid layout
---------------------------
*/

@media only screen and (max-width: 599px) {
	.user-content {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		grid-template-areas: "u u u p p p p p p";
		grid-template-rows: 1fr;
	}

	body, nav, li {
		text-align: center;
		font-size: 18px;
	}
	
	body {
		grid-template-columns: 1fr 4fr;
		grid-template-rows: 50px auto 50px;
	}

	#menu {
		width: 50%;
	}

	nav > ul {
		margin: 5px auto;
		color: #88d317;
	}


	#menu-label {
		margin-top: 25px;
		font-size: 20px;
	}

	#profile-pic {
		grid-area: pic;
		width: 150px;
		height:150px;
	}

	.user-profile {
		grid-area: u;
		width: 80%;
	}

	.profile-picture {
		width: 100%;
	}

}
